body{
    display: grid;
    grid-template-areas: 'nav nav',
                         'header header'
                         'section section'
                         'article article'
                         'footer footer';

    grid-template-columns: 49vw 49vw;
    grid-template-rows: 5vh 50vh 35vh 35vh 13vh;
    margin: 0;
}
body::-webkit-scrollbar{
    width: 0px;
}