.cadastro{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;

}
.cadastro h1{
    color: #FC334F;
    display: flex;
    font-family: "Axilforma-ExtraBold";
    font-size: 22px;
    height: 31px;
    left: 100px;
    letter-spacing: 0.045em;
    line-height: 148.9%;
    position: absolute;
    top: 114px;
    width: 224px;

}
.cadastro form:nth-child(3){
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
@font-face{
    font-family: "Axilforma-ExtraBold";
    src: url(../fonts/Axilforma-ExtraBold.otf) format("truetype");

}
@font-face{
    font-family: "Axilforma-Regular";
    src: url(../fonts/Axilforma-Regular.otf) format("truetype");

}
label[for=nome]{
    align-items: center;
    color: #9B9B9B;
    display: flex;
    font-family: "Axilforma-Regular";
    height: 53px;
    left: 20px;
    letter-spacing: 0.005em;
    line-height: 148.9%;
    position: absolute;
    top: 210px;
    width: 224px;
}

input[type=text] {
    position: absolute;
    width: 336px;
    height: 50px;
    left: 20px;
    top: 257px;
    border: 1px solid #C4C4C4;

}

form [for=email]{
    align-items: center;
    color: #9B9B9B;
    display: flex;
    font-family: "Axilforma-Regular";
    height: 53px;
    left: 20px;
    letter-spacing: 0.005em;
    line-height: 148.9%;
    position: absolute;
    top: 333px;
    width: 224px;
    
}

input[type=email] {
    position: absolute;
    width: 336px;
    height: 53px;
    left: 20px;
    top: 379px;
    border: 1px solid #C4C4C4;

}

form [for=senha]