.cadastro{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;

}

form{
    height: 400px;
    display: flex;
    justify-content: space-around;
}