.categorias{
    display: flex;
    flex-direction: row;
    margin-inline-start: 2px;
    margin-top: 15px;

}

.vetores{
    height: 20px;
}

.categorias img{
    height: 20px;
    margin-left: 22px;
    
}

nav{
    height:30px;
    /* background-color: aqua; */
}

.usuario{
position: absolute;
top: 6px;
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
width: 81.53px;
height: 81.53px;
left: 20px;
}