.logo{
    margin-left: 10px;
}

input[type=busca] {
    border: 1px solid #C4C4C4;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    width: 204px;
    height: 22px;

}

.lupa{

}

::placeholder{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 148.9%;
/* or 15px */
letter-spacing: 0.025em;

color: rgba(105, 105, 105, 0.75); 

}

main{
    background-color: rgb(109, 12, 12);
    display: flex;
    justify-content: space-around; 
    transform: translateY(100%);
    transition: .8s ease-out;
    position: relative;
    height: 400px;
    margin-block-start: 120px;
    width: 330px;
    z-index: 500;
    left: 45px;
}
main a{
    text-decoration: none;
    color: white;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    left: 0px;
    background-color: rgb(255, 255, 255, 0.25);

}

.busca_mobile{
    display: flex;
    align-items: center;
    width: 204px;
    height: 22px;
}

.menu{
    display: flex;
    cursor:pointer;
    flex-direction: column;
    height: 16px;
    justify-content: space-between;
    margin-right: 15px;
    width: 19px;
    align-items: flex-end;
}

span{
    background-color: #7F7F7F;
    display: block;
    height: 2px;
    transition: .2s;
    width: 100%;
}

.traco-1, .traco-3{
    transform-origin: right center;
}

.ativo .traco-1{
    transform: rotateZ(-45deg);
}

.ativo .traco-2{
    opacity: 0;
}

.ativo .traco-3{
    transform: rotateZ(45deg);
}

.visivel{
    transform: translateY(-100%);
}