.logo{
    margin-left: 10px;
}

.busca[type=busca] {
    border: 1px solid #C4C4C4;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    width: 204px;
    height: 22px;

}



::placeholder{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 148.9%;
/* or 15px */
letter-spacing: 0.025em;

color: rgba(105, 105, 105, 0.75); 

}

main{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around; 
    transform: translateY(-130%);
    transition: .8s ease-out;
    position: absolute;
    height: 400px;
    margin-block-start: 25px;
    width: 330px;
    z-index: 500;
    left: 45px;
    border-radius: 0px 0px 5px 5px;
}
main a{
    text-decoration: none;
    color: white;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    left: 0px;
    background-color: rgb(255, 255, 255);

}

.busca_mobile{
    display: flex;
    align-items: center;
    width: 204px;
    height: 22px;
}

.menu{
    display: flex;
    cursor:pointer;
    flex-direction: column;
    height: 16px;
    justify-content: space-between;
    margin-right: 15px;
    width: 19px;
    align-items: flex-end;
}

span{
    background-color: #7F7F7F;
    display: block;
    height: 2px;
    transition: .2s;
    width: 100%;
}

.traco-1, .traco-3{
    transform-origin: right center;
}

.ativo .traco-1{
    transform: rotateZ(-45deg);
}

.ativo .traco-2{
    opacity: 0;
}

.ativo .traco-3{
    transform: rotateZ(45deg);
}

.visivel{
    transform: translateY(5%);
}


/* Styles do Menu  */

.boas-vindas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.categorias{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.vetores{
    height: 20px;
}

.categorias img{
    height: 15px;
    margin-left: 42px;
    
}

.usuario{
    position: absolute;
    top: 15px;
    width: 63px;
    height: 63px;
    left: 20px;
    border-radius: 50%;
    align-items: left;
}

.ola{
    left: 91px;
    top: 45px;  
    font-size: 14px;
    line-height: 148.9%;
    letter-spacing: 0.025em; 
    font-family: "Axilforma-Regular";
    font-weight: bold;
    color: black;
    width: 224px;
    height: 6px;
    display: flex;
    margin-block-start: 1.33em;
    margin-block-end: 0.33em;

}

.entre{
    font-weight: 300;
    font-family: "Axilforma-Regular";
    display: flex;
    font-size: 0.8rem;
    margin-block-start: 1rem;
    margin-block-end: 0.67em;
    margin-inline-end: 25px;
    color: rgb(128, 128, 128);
}

/* botao_entre */
.botao1{
    position: absolute;
    width: 140px;
    height: 36px;
    left: 21px;
    top: 114px;
    background-color: #8EC0EF;
    border-width: 0;
    font-family: "Axilforma-Regular";
    font-weight: bold;
    display: flex;
    text-align: center;
    letter-spacing: 0.065em;     
    color: white;
    font-size: 13px;
    line-height: 148.9%;
    border-radius: 5px;
    text-indent: 42px;

}

/* Crie a sua conta */
.botao2{ 
    position: absolute;
    width: 140px;
    height: 36px;
    left: 170px;
    top: 114px;
    font-family: "Axilforma-Regular";
    font-size: 13px;
    line-height: 148.9%;
    border-color: #8EC0EF;
    color: #8EC0EF;
    background-color: white;
    border-width: 0.5px;
    border-style: solid;
    text-indent: 24px;
    font-weight: bold;  
}


.botao2{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;  
    background-color:white;
    color:#8EC0EF;
    font-family: "Axilforma-Regular";
    font-size: 13px;
    line-height: 148.9%;
    border-radius: 5px;
} 

.nome-categorias{
    font-family: "Axilforma-Regular";
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 15px;
    font-size: 0.8rem;

}

.superior{
    
    left: 120px;
    top:25px;
    align-content: center;
    display: flex;
}


.cima{
    width: 330px;
}

.linha{
    margin-top: 100px;
}

.icones{
    position: absolute;
    top: 215px;
}

/* p{
    font-family: "Axilforma-Regular";
    font-weight: bold;
    color: black;
    display: flex;
    margin-left: 30px;
} */



.linha2{
    margin-top: 20px;
    opacity: 0;

}

@font-face{
    font-family: "Axilforma-Regular";
    src:url(../fonts/Axilforma-Regular.otf) format("truetype");
}