.body-produtos{
/* display: grid;
    grid-template-areas: 'nav nav nav',
                         'header'
                         'quantidade preco'               
                         'section3'
                         'section4'
                         'section5';
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 5vh 50vh 35vh 35vh 20vh;
    margin: 0;
    background-color: white;
    display: block; */
    margin: 0;
}



h1{
    position: absolute;
    width: 246px;
    height: 21px;
    left: 19px;
    top: 370px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 15px;
    color: #3E3E3E;
}

h2, h3{
    position: absolute;
    height: 128px;
    left: 20px;
    top: 465px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #3E3E3E;
    letter-spacing: 0.06em;
}

h3{
    top: 490px;
    font-size: 14px;
    text-align: justify;
    font-weight: 100;
    right: 40px;

}

.imagem-principal{
    margin-top: 60px;
    width: 217px;
    height: 286px;
    left: 79px;
    top: 102px;
}

.marca{
    font-weight: 300;
    left: 213px;
}

.nome-produto{   
    font-weight: 900;

}
p{
    display: inline-block;
    position: absolute;
    width: 320px;
    height: 44px;
    left: 20px;
    top: 325px;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 148.9%;
    letter-spacing: 0.06em;
    color: #3E3E3E;
}

.produto-principal{
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-2{
    margin-top: 90px; 
}

.section-3{
    grid-area: section3;
}

.proprietario{
    grid-area: section4;
}

.relacionados{
    grid-area: relacionados;
}

.nav{
    grid-area: nav;
}



.quantidade{
    grid-area: quantidade;
    width: 187px;
    float: left;
}

.preco{
    grid-area: preco;
    width: 187px;
    float: right;
}
