
    

.body-index{
    display: grid;
    grid-template-areas: 'nav nav'
                         'header header'
                         'section section'
                         'article article'
                         'aside aside'
                         'footer footer ';
    grid-template-columns: 49vw 49vw;
    grid-template-rows:  10vh 38vh 35vh 35vh 13vh;
    margin: 0;
    padding: 0;
}

nav{
    grid-area: nav;
}
body::-webkit-scrollbar{
    width: 0px;
}
article{
    grid-area: article;
    background-color: blue;
}
aside{
    grid-area: aside;
    background-color: bisque;

}

footer{
    grid-area: footer;
    background-color: antiquewhite;
}

header{
    grid-area: header;
    width: 375px;
    height: 325px;
    background-image: url("../img/fundo_header.png");
    
    
}

header h1{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 20px;
    top: 96px;

    font-family: Axiforma;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 148.9%;

    letter-spacing: 0.045em;

    color: #FC334F;
}
header h2{
    position: absolute;
    width: 221px;
    height: 53px;
    left: 20px;
    top: 175px;

    font-family: Axiforma;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 148.9%;

    letter-spacing: 0.045em;

    color: #3E3E3E;
}

section{
    grid-area: section;
    background-color: aqua;
}
