
    

.body-index{
    display: grid;
    grid-template-areas: 'nav nav'
                         'header header'
                         'section section'
                         'article article'
                         'aside aside'
                         'footer footer ';
    grid-template-columns: 49vw 49vw;
    grid-template-rows: 6vh 38vh 35vh 35vh 35vh 25vh;
    margin: 0;
    padding: 0;
}

nav{
    grid-area: nav;
}
body::-webkit-scrollbar{
    width: 0px;
}
article{
    background-color:#E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: article;
}
aside{
    grid-area: aside;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    
}

aside h3{
    margin: 0;
    font-style: normal;
    color: #FC334F;
}

aside div.texto input{
   margin: 0;
   width: 78px;
}

footer{
    grid-area: footer;
    background-color:#F7F7F7;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 20px 20px;
}

footer div.todas a{
    text-decoration: none;

}

header{
    grid-area: header;
    width: 375px;
    height: 325px;
    background-image: url("../img/fundo_header.png");
    
    
}

header h1{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 20px;
    top: 96px;

    font-family: Axiforma;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 148.9%;

    letter-spacing: 0.045em;

    color: #FC334F;
}
header h2{
    position: absolute;
    width: 221px;
    height: 53px;
    left: 20px;
    top: 175px;

    font-family: Axiforma;
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
    line-height: 148.9%;

    letter-spacing: 0.045em;

    color: #3E3E3E;
}

section{
    grid-area: section;
    background-color: aqua;
}
