
    

 <nav>
        <div class="logo"></div>
        <div class="busca_mobile">

                <input type="busca" name="busca" id="" placeholder="O que você está precisando?">
        
        </div>
        <div class="menu">
                <span class="traco-1"></span>
                <span class="traco-2"></span>
                <span class="traco-3"></span>
        </div>
    </nav>
    <main>
                <a href="">Hoje</a>
                <a href="">É</a>
                <a href="">Sexta feira</a>
    </main>
         

