{% extends "main.html" %}
{% load staticfiles %}
{% block css %} href="{% static 'css/nav.css' %}"
{% endblock%}
{% block content %}


<link rel="stylesheet" href="{% static 'css/nav.css'%}">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,600,700,900&display=swap" rel="stylesheet">
    
    <nav>
    
        
       <a href="/"> <img class="logo" src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div class="busca_mobile">
            <input class="busca" type="busca" name="busca" id="" placeholder="O que você está precisando?">
            <img class="lupa" src="{% static 'img/lupa.png' %}" alt="lupa">
        </div>
        <div>
        </div>
        
        <div class="menu">
            <span class="traco-1"></span>
            <span class="traco-2"></span>
            <span class="traco-3"></span>
        </div>
        
    </nav>
    <!-- {% block include %}
    {% include 'menu.html' %}
    {% endblock %} -->
        

    <main> 
        <articles class="cima">
            <div class="superior">
                <img class="usuario" src="../static/img/perfil-menina.png" alt="Foto do Perfil do Usuário">
                <div class="boas-vindas">
                    <h4 class="ola"> Olá! Seja bem-vindo :)</h4>
                    <h5 class="entre"> Entre na sua conta ou crie uma: </h5>
                </div>
            </div>
            <div class="botao">
                <input class=botao1 type="button" value="Entrar" onClick="Login()">
                <input class=botao2 type="button" value="Criar Conta" onClick="Cadastro()">
                </div>
                <img class="linha" src="../static/img/line.png" alt="linha divisoria">
            </articles>

            <articles class="icones">

                    <articles class="cat-geral">
                    
                        <div class="categorias">
                            <img src="../static/img/vector.png" alt="icone"> 
                            <h6 class="nome-categorias"> Categorias </h6>
                        </div>
                
                        <div class="categorias">
                            <img class="vetores" src="../static/img/vector1.png" alt="icone1">
                            <h6 class="nome-categorias"> Quero alugar </h6>
                        </div>
                
                        <div class="categorias">
                            <img class="vetores" src="../static/img/vector2.png" alt="icone2">
                            <h6 class="nome-categorias"> Quem Somos </h6>
                        </div>
                
                        <div class="categorias">
                            <img class="vetores" src="../static/img/vector3.png" alt="icone3">
                            <h6 class="nome-categorias"> Dúvidas Frequentes </h6>    
                        </div>
                
                    </articles>
                    <img class= "linha2" src="../static/img/line.png" alt="linha divisoria">
    </main>        

{% endblock %}


