{% extends "main.html" %}
{% load static %}
{% block css %} href="{% static 'css/cadastro.css' %}" {% endblock %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">

<div class="cadastro">
    <h1>Crie sua conta</h1>
    <p>{{sucesso}}</p>

    <form action="/cadastro/" method="POST">
        {% csrf_token %}

        <label for="nome">Nome</label>
        <input type="text" name="nome" required>
        
        <label for="email">Email</label>
        <input type="email" name="email" id="" required>
    
        <label for="senha">Senha</label>
        <input class="senha" type="password" name="senha" required>
    
        <input class="button" type="submit" value="Criar Conta">

    </form>

    <p>Ao clicar em criar conta, você está de acordo com os termos de serviço do Precisei.</p>

</div>

{% endblock %}


