<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300, 500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>Precisei</title>
</head>
<body class="body-index">
       {% include 'shared/nav.html' %}
   <!-- <nav>
       <h1>Teste</h1>
        <p>{{dados}}</p>

        <form action="/" method="POST">
            {% csrf_token %}
        
            <label for="email">Email</label>
            <input type="email" name="email" id="" required>
    
            <label for="senha">Senha</label>
            <input type="text" name="senha" required>
    
            <input type="submit" value="Entrar">

        </form>

    </nav>-->
    <header> 
       <h1>Lorem ipsum dolor sit amet</h1>
       <h2>Sed lacinia dolor laoreet augue mollis tincidunt. Proin viverra leo</h2>
        
    </header>
    <section>
        <h1>carrossel</h1>
    </section>
    <article>
        <div class="all">
            <div class="categoria">
                    <h2>Categoria</h2>
            </div>
            <div class="blocos">
                <div class="bloco1">
                    <img src="../static/img/batederia1.png" alt="">
                    <p>Sed licinia dor</p>
                    <p>Batedeira 369</p>
                    <p>R$ 000,00 <span class="fonte">por dia</span></p>
                </div>
            </div>
        </div>
        
    </article>
    <aside>
        <div class= "todas">
            <div class= "textos">
                <h3>Coleções</h3>
                <p> Festa na piscina</p>
            </div>
            <div class="imagem_grande">
                <img src="" >
            </div>

            <div class="imagens_pequenas">
                <div class="imagens_cima">
                    <img src="../static/img/piscina.png" alt="">
                    <img src="../static/img/chopeira.png" alt="">
                </div>
                <div class="imagens_baixo">
                    <img src="../static/img/som.png" alt="">
                    <img src="../static/img/guarda-sol.png" alt="">
                </div>
            </div>

        </div>

    </aside>
    <footer>
        <div class= "todas">
            <div class="utilidades">
                <a href=""><span class="negrito"> Utilidades</span></a>
                <a href="">Ajuda</a>
                <a href="">Como Vender</a>
                <a href="">Como comprar</a>
                <a href="">Marcas</a>
                <a href="">Termos de uso</a>
                <a href="">Política de privacidade</a>
                <a href="">Carreiras</a>
            </div> 
            <div class="conta">
                <a href=""><span class= "negrito">Minha conta</span></a>
                <a href="">Meu perfil</a>
                <a href="">Minhas Vendas</a>
                <a href="">Minhas Compras</a>
                <a href="">Enjubank</a>
                <a href="">Yeyezados</a>
                <a href="">Configurações</a>
                <a href="">Marcas populares</a>
                <a href="">Farm</a>
            </div>
            <div class="marcas">
                <a href=""><span class= "negrito">Zara</span></a>
                <a href="">Melissa</a>
                <a href="">Arezzo</a>
                <a href="">Forever-21</a>
                <a href="">Schutz</a>
                <a href="">Nike</a>
                <a href="">Tommy-Hilfiger</a>
                <a href="">Adidas</a>
                <a href="">Antix</a>
                <a href="">Kipling</a>
            </div>
        </div>
    </footer>
</body>
</html>

