<!DOCTYPE html>
{% extends "main.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/website/static/css/index.css">
    <title>Precisei</title>
</head>
<body>
    {% block content %}
    <nav>
        <h1>teste</h1>
        <p>{{sucesso}}</p>

        <form action="/" method="GET">
            {% csrf_token %}
        
            <label for="">Email</label>
            <input type="email" name="email" id="" required>
    
            <label for="">Senha</label>
            <input type="text" name="senha" required>
    
            <input type="submit" value="Entrar">

        </form>

    </nav>
    <header></header>
    <section></section>
    <article></article>
    <footer></footer>

    {% endblock %}
</body>
</html>
