{% extends "main.html" %}
{% load staticfiles %}
{% block css %} href="{% static 'css/style.css' %}"
href="{% static 'css/nav.css' %}" {% endblock%}
{% block content %}

    <script defer src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,600,700,900&display=swap" rel="stylesheet">
    <title>Precisei</title>


<body class="body-index">
       {% include 'shared/nav.html' %}
    <header> 
       <h1>Hey, já passou da hora</h1>
       <h2>de você ganhar dinheiro com o que tá parado na sua casa!</h2>
         <div class="carrossel">
            <div class="bloco-esquerda">

            </div>

            

            <div class="bloco-centro">
                <div class="kit-laranja">
                </div>
                <div class="infos">
                    <p>Batedeira KitchenAid Stand Mixer </p>
                    <p>R$ 70,00  <span class="pordia"> por dia </span></p>
                
                </div>
            </div>
            <div class="bloco-direita">

            </div>
         </div>
    </header>
    <article>
        <div class="all">
            <div class="categoria">
                    <h2>Categorias</h2>
            </div>
            <div class="blocos">
                <div class="bloco1">
                    <div class="cinza1">
                        <img src="../static/img/batedeira-vermelha.png" alt="imagem-batedeira">
                    </div>
                    <div class="branco1">
                        <p> Eletroportáteis </p>
                        <p> Batedeira Planetária </p>
                        <p> R$39,90 <span class="fonte"> por dia </span></p>
                    </div>
                </div>
                <div class="bloco2">
                    <div class="cinza2">
                        <img src="../static/img/wap.png" alt="imagem-aspirador">
                    </div>
                    <div class="branco2">
                        <p> Casa e Construção </p>
                        <p> Lavadora Wap </p>
                        <p> R$59,90 <span class="fonte"> por dia </span></p>
                    </div>
                </div>
                <div class="bloco3">
                    <div class="cinza3">
                        <img src="../static/img/foundue.png" alt="">
                    </div>
                    <div class="branco3">
                        <p> Utilidades Domésticas </p>
                        <p> Aparelho de fondue </p>
                        <p> R$29,90 <span class="fonte"> por dia </span></p>
                    </div>
                </div>
                <div class="bloco4">
                    <div class="cinza4">
                        <img src="../static/img/aspirador.png" alt="">
                    </div>
                    <div class="branco4">
                        <p> Eletroportáteis </p>
                        <p> Aspirador de Pó </p>
                        <p> R$39,90 <span class="fonte"> por dia </span></p>
                    </div>
                </div>
            </div>
        </div>
        
    </article>
    <aside>
        <div class= "todas">
            <div class= "textos">
                <h3>Coleções</h3>
                <div class="dropdown-menu">
                    <p> Festa na piscina</p>
                    <svg class="triangle" width="100%" height="auto">
                        <polygon points="4, 4, 8, 10, 0, 10" fill="#505050" />
                    </svg>
                </div>
            </div>
            <div class="imagem_grande">
                <img src="" >
            </div>

            <div class="imagens_pequenas">
                <div class="imagens_cima">
                    <img src="../static/img/piscina.png" alt="">
                    <img src="../static/img/chopeira.png" alt="">
                </div>
                <div class="imagens_baixo">
                    <img src="../static/img/som.png" alt="">
                    <img src="../static/img/guarda-sol.png" alt="">
                </div>
            </div>

        </div>

    </aside>
    <footer>
        <div class= "todas">
            <div class="utilidades">
                <a href=""><span class="negrito"> Utilidades </span></a>
                <a href=""> Ajuda </a>
                <a href=""> Como anunciar </a>
                <a href=""> Como alugar </a>
                <a href=""> Marcas </a>
                <a href=""> Termos de uso </a>
                <a href=""> Política de privacidade </a>
                <a href=""> Carreiras </a>
            </div> 
            <div class="conta">
                <a href=""><span class= "negrito"> Minha conta </span></a>
                <a href=""> Meu perfil </a>
                <a href=""> Meus anúncios </a>
                <a href=""> Meus artigos </a>
                <a href=""> Meu carrinho </a>
                <a href=""> Alubank </a>
                <a href=""> Curtidas </a>
                <a href=""> Configurações </a>
                <a href=""> Central de ajuda </a>
            </div>
            <div class="categorias">
                <a href=""><span class= "negrito"> Categorias </span></a>
                <a href=""> Casa e Construção </a>
                <a href=""> Eletroportáteis </a>
                <a href=""> Jardinagem </a>
                <a href=""> Eletrônicos </a>
                <a href=""> Utilidades Domésticas </a>
                <a href=""> Bebês </a>
                <a href=""> Eletrodomésticos </a>
            </div>
        </div>
    </footer>
</body>
</html>

{% endblock %}