<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Precisei</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
<nav></nav>

<section class="cima">
    <img class="usuario" src="img/perfil.png" alt="Foto do Perfil do Usuário">
    <div class="superior"> 
        <h4>Bem-Vindo</h4>
        <h5>Entre na sua conta ou crie uma </h5>
    </div>
    <div class="botao">
        <input class= botao1 type="button" value="Entre">
        <input class= botao2 type="button" value="Crie a Sua Conta">
    </div>
    <img class= "linha" src="img/line.png" alt="linha divisoria">
</section>

<section class="icones">

<section class="cat-geral">
<div class="categorias">
    <img src="img/vector.png" alt="icone"> 
    <p>Categoria</p>
</div>

<div class="categorias">
    <img class="vetores" src="img/vector1.png" alt="icone1">
    <p>Alugue</p>
</div>

<div class="categorias">
    <img class="vetores" src="img/vector2.png" alt="icone2">
    <p>Quem Somos</p>
</div>

<div class="categorias">
    <img class="vetores" src="img/vector3.png" alt="icone3">
    <p>Duvidas Frequentes</p>    
</div>

</section>

<div>
    <img class= "linha2" src="img/line.png" alt="linha divisoria">
</div>

